*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 22%, rgba(104,0,255,1) 100%);
}
.clock-container{
    width:100%;
    height:100vh;
    background: linear-gradient(45def, #08001f, #30197d);
    color:#fff;
    position: relative;
}

.clcok-box{
    width:800px;
    height: 180px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
}
.time-display{
    width:100%;
    height: 100%;
    background: rgba(235, 0 , 255, 0.11);
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}

.clcok-box::before{
    content: " ";
    width: 180px;
    height: 180px;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    left:-50px;
    top:-50px;
    z-index: -1;
}

.clcok-box::after{
    content: " ";
    width: 180px;
    height: 180px;
    background: #f41b75;
    border-radius: 50%;
    position: absolute;
    right:-50px;
    bottom:-50px;
    z-index: -1;
}

.time-display span{
    font-size: 80px;
    font-weight: 110px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.time span::after{
    font-size: 16px;
    bottom: -5px;
    left: 50%;
    position: absolute;
    transform:translate(-50%);
}
#hrs::after{
    content: "HOURS";
}
#min::after{
    content: "MINS";
}
#sec::after {
    content: "SEC";
}

@media (max-width: 1024px) {
    .clcok-box {
        width: 90%;
        height: 160px;
    }
    
    .time-display span {
        font-size: 70px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        height: 150px;
    }
    
    .clock span {
        font-size: 60px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
        height: 140px;
    }
    
    .clock span {
        font-size: 50px;
    }
}

@media (max-width: 300px) {
    .container {
        width: 100%;
        height: 120px;
    }

    .clock span {
        font-size: 40px;
    }
    
    .clock span::after {
        font-size: 12px;
    }
}
